mixin input(name, type, placeholder, tabIndex, refill)
    - value = ""
    if refill === undefined || refill === true
        - value = val(name, "")
    -validity = ""
    if value !== ""
        - validity = "is-valid"
    .form-group.my-auto
        input.form-control.form-control-user(name=name type=type placeholder=placeholder tabIndex= tabIndex value=value class=validity)

mixin input-hidden(name, value)
    .form-group.my-auto
        input.form-control.form-control-user(name=name type="hidden" value=value)

mixin title(text)
    h3.mb-0.text-gray-800()&attributes(attributes)= text

mixin button-small-link(text, iconClasses, buttonClasses, link, type)
    a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href= link, class=buttonClasses, type= type)
        i(aria-hidden='true', class=iconClasses)
        |  #{text}

mixin button-small-form(text, iconClasses, buttonClasses, type)
    button.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(class=buttonClasses, type= type)
        i(aria-hidden='true', class=iconClasses)
        |  #{text}

mixin button(text, iconClasses, classes, type)
    button.d-none.d-sm-inline-block.btn.btn-primary.shadow-sm(type= type, class= classes)
        i(aria-hidden='true', class=iconClasses)
        |  #{text}

mixin button-link(text, iconClasses, href, classes)
    a.d-none.d-sm-inline-block.btn.btn-primary.shadow-sm(href= href, type= "button", class= classes)
        i(aria-hidden='true', class=iconClasses)
        |  #{text}

mixin split-button(text, iconClasses, buttonClasses, tabIndex, type)
    button.btn.btn-primary.btn-icon-split(class=buttonClasses, tabIndex= tabIndex, type= type)
        span.icon.text-white-50
            i(class= iconClasses)
        span.text= text

mixin button-icon-only(iconClasses, buttonClasses, target)
    if (target === undefined ? "" : "")
        a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(class= buttonClasses)
            i(aria-hidden='true', class=iconClasses)
    else
        a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(class= buttonClasses, data-target= target)
            i(aria-hidden='true', class=iconClasses)

mixin datalist(name, type, placeholder, tabIndex)
    .form-group.my-auto
        input.form-control.form-control-user(name=name, type=type, placeholder=placeholder, tabIndex= tabIndex, list="list")
        datalist#list
            option(value="netflix.com")
            option(value="google.com")
            option(value="github.com")
            option(value="spotify.com")
            option(value="facebook.com")

mixin deleteModal()
    #deleteModal.modal.fade(tabindex='-1')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Confirm deletion
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body Are you sure you want to delete this password?
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-danger#modalDelete(type='button') Delete

mixin connectionDataTable(connections)
    .table-responsive.overflow-hidden
        table#dataTable.table.table-bordered(width='100%' cellspacing='0')
            thead
                tr
                    th Ip Address
                    th Browser
                    th Last Login
                    th Days Remaining
                    th Delete
            tbody
                block
mixin connectionDataRow(id, ip, browser, login, days)
    tr
        td= ip
        td= browser
        td= login
        td= days + " days"
        td
            +form("delete", "/profile/connection/" + id)
                +button("Delete", "" , "btn-danger", "submit")
